.author-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    margin-right: 8px;
  }
  
  .author-card {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }
  
  .responses-container {
    padding-top: 8px;
    display: inline-flex;
    align-items: center;
  }
  
  .responses-container .responses-icon {
    height: 16px;
    width: 16px;
    padding-right: 4px;
  }
  
  .post-title,
  .post-description {
    padding-bottom: 8px;
  }
  
  .circle-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    margin-right: 8px;
  }
  
  .circle-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }
  
  .post{
      padding-left: 24px;
      padding-right: 16px;
  }