.header {
    padding: 15px;
    border-bottom: 3px solid #d3d3d3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-container {
    display: flex;
    align-items: center;;
}

.header-company-name-container {
    margin-left: 4%;
}

.header-container-items {
    width: 50%;
}

.circle-logo {
    height: 40px;
    width: 45px;
}

.header-company-name {
    font-size: 0.75em;
    padding-left: 5px;
}

.header-app-title {
    font-weight: 600;
    font-size: 22px;
}

.header-title {
    font-weight: 600;
}

/* .header-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
    cursor: pointer;
   }
   
.header-close::after,
.header-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
   }
   
   .header-close::after {
    transform: rotate(-45deg)
   }  */