.dashboard-container {
    margin: 0 auto;
    display: flex;
    background-color: #F5F5F5;;

}

.dasboard-space-container {
    width: 10%;
}

.dashboard-left-section {
    width: 26%;
}

.dashboard-right-section {
    width: 54%;
}

.your-circles {
    margin: 5%;
}

.your-circles-heading {
    display: flex;
    justify-content: space-between;
}

.dashboard-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.circles-conversation-heading {
    padding: 50px 0 0 0;
}

.circle-manage-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: right;
    color: #187ABA;
    cursor: pointer;
}

.circle-name-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.circle-name-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #187ABA;
    cursor: pointer;
    margin-left: 15px;
}

.circle-trending-topic-header {
    margin-left: 5%;
}

.circle-topics {
    margin: 5%;
}

.dashboard-trending-topics-subheading {
    font-size: 14px;
    margin-left: 5%;
}

.circle-post-container {
    margin-left: 30px;
}

.dashboard-post-container {
    margin: 20px 0;
}