.dashboard-container {
    margin: 0 auto;
    display: flex;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.dasboard-space-container {
    width: 10%;
}

.dashboard-left-section {
    width: 26%;
}

.dashboard-right-section {
    width: 54%;
}

.circles-conversation-heading {
    padding: 50px 0 0 0;
}

.circle-trending-topic-header {
    margin-left: 5%;
}

.circle-topics {
    margin: 5%;
}

.circle-sort-select {
    height: 70%;
    padding-top: 5px;
}

.dashboard-trending-topics-subheading {
    font-size: 14px;
    margin-left: 5%;
}

.circle-post-container {
    margin-left: 30px;
}

.dashboard-post-container {
    margin: 20px 0;
}

.dashboard-heading-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.circle-sort-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-top: 25px;
}

.sort-by-text {
    font-size: 14px;
}