.user-info-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.user-info-title {
    margin: 5%;
}

:invalid {
    border-color: red;
}

.user-info-form {
    display: flex;
    justify-content: center;
}

.user-info-form-items {
    padding: 0 30px 0 0;
    text-align: start;
}

.user-info-form-label {
    text-align: start;
    font-size: 0.75em;
    margin: 5px 0;

}

.user-info-form-text {
    width: 100%;
    height: 30px;
}

.posts-container {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1.2em;
    text-align: start;
}

.sample-post {
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    height: 150px;
    margin-top: 5%;
    text-align: start;
    padding: 10px;
}

.post-content {
    margin-top: 4%;
    font-size: 1.2em;
}

.post-username {
    font-size: 1.2em;
    font-weight: 600;
}

.post-time {
    color: #808080;
}

.profile-container {
    display: flex;
}

.profile-pic {
    height: 50px;
    width: 50px;
}

.post-user-info {
    margin-left: 2%;
}

.edit-profile-pic {
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.continue-button-container {
    margin: 5% 0;
}

.info-icon {
    height: 22px;
    width: 22px;
    margin-left: 10px;
    cursor: pointer;
    color: #187ABA;
}

.text-box-container {
    display: flex;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0 0 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8em;
    text-align: start;
  }
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 32%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .circle-button {
    border-radius: 20px !important;
    text-transform: none !important;
    font-weight: bold;
    font-size: 16px;
  }