.user-info-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.user-info-title {
    font-weight: normal;
    font-size: 1.8em;
}

.user-info-form {
    display: flex;
    justify-content: center;
}

.user-info-form-items {
    padding: 0 30px 0 0;
    width: 50%;
    text-align: start;
}

.user-info-form-label {
    text-align: start;
    font-size: 0.75em;
    margin: 5px 0;
}

.user-info-form-text {
    width: 100%;
    height: 60%;
}

.posts-container {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1.2em;
    text-align: start;
}

.sample-post {
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    height: 150px;
    margin-top: 5%;
    text-align: start;
    padding: 10px;
}

.post-content {
    margin-top: 4%;
    font-size: 1.2em;
}

.post-username {
    font-size: 1.2em;
    font-weight: 600;
}

.post-time {
    color: #808080;
}

.profile-container {
    display: flex;
}

.profile-pic {
    height: 50px;
    width: 50px;
}

.post-user-info {
    margin-left: 2%;
}

.edit-profile-pic {
    height: 120px;
    width: 120px;
    margin-top: 5%;
}

.continue-button-container {
    margin: 5% 0;
}