.welcome-container-wrapper {
    background-color: #f0f0f0;
    height: 100vh;
}

.welcome-container {
    margin: 0px auto;
    width: 80%;
    background-color: white;
    text-align: center;
}

.welcome-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.welcome-title {
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
}

.welcome-image-container {
    position: relative;
}

.welcome-image-div {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 42%;
    height: 75%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    opacity: 0.8;
    text-align: start;
    padding: 20px;
    border-left: 7px solid #187ABA;
}

.welcome-text-content {
    width: 90%;
    font-size: 20px;
    font-weight: normal;
    padding: 5% 10% 5% 0;
    letter-spacing: 0.46px;
    color: white;
}

.welcome-text {
    font-family: MS Gloriola II Std;
    padding-top: 7%;
    font-size: 46px;
    line-height: 50.6px;
    font-weight: 300;
    color: white;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.welcome-button-container {
    text-align: center;
    padding: 60px 10px 50px 10px;
}

.about-container-items {
    width: 33%;
}

.about-items {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.46px;
    color: #000000;
}

.about-items-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.46px;
    color: #000000;
}

.get-started-link {
    text-decoration: none;
}

.personal-details-image {
    height: 100px;
    width: 100px;
    margin-bottom: 5%;
}

.about-text-content {
    text-align: start;
    margin: 2% 10% 2% 15%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .welcome-image-div {
        width: 75%
    }
}

@media (max-width: 767px) {
    .welcome-image-div { 
        width:90%;
        height: 85%;
        left: 0;
        top: 10px;
    }

    .about-container {
        flex-direction: column;
    }

    .about-container-items {
        width: 100%;
        margin: 5% 0;
    }

    .welcome-text {
        padding-top: 0;
        font-size: 30px;
    }

    .welcome-image {
        height: 420px;
    }
}