.user-info-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.user-info-title {
    font-weight: normal;
}

.user-info-form {
    display: flex;
    justify-content: center;
}

.user-info-form-items {
    padding: 10px 30px;
    width: 25%;
    text-align: start;
}

.user-info-form-label {
    text-align: start;
    font-size: 0.8em;
    margin: 5px 0;
}

.user-info-form-text {
    width: 100%;
    height: 50%;
}