.welcome-container {
    margin: 0px auto;
    text-align: center;
}

.welcome-title {
    text-align: center;
    font-weight: normal;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.welcome-button-container {
    text-align: center;
    margin: 10px;
}

.about-container-items {
    width: 25%;
}

.about-items {
    font-weight: 600;
    font-size: 1.2em;
}

.get-started-link {
    text-decoration: none;
}