.dasboard-space-container {
    width: 10%;
}

.circle-left-section {
    width: 54%;
}

.circle-right-section {
    width: 26%;
}

.your-circle-header-container {
    width: 100%;
    height: 90px;
}

.your-circle-name-container {
    display: flex;
    margin: 2% 10%;
    align-items: center;
}

.education-icon {
    height: 50px;
}

.circle-name-title-header {
    font-size: 30px;
    margin-left: 15px;
}

.your-circle-header-container {
    display: flex;
    justify-content: space-between;
}

.leave-circle-button {
    margin: 1.5% 11% 2% 2%;
}

.circle-member-info-container {
    display: flex;
}

.circle-member-info {
    margin: 5px 10px;
    display: flex;
}

.circle-name-title-container {
    margin-top: 15px;
}

.circle-member-info-text {
    margin-left: 10px;
}

.post-container{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

@media (max-width: 767px) {
    .circle-right-section {
        display: none;
    }

    .circle-left-section {
        width: 90%;
    }

    .your-circle-header-container {
        flex-direction: column;
        align-items: center;
        height: 190px;
    }
}